@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  background-color: #272a37;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

input:focus,
textarea:focus,
keygen:focus,
select:focus {
  outline-offset: -2px;
}

.gray {
  color: #96a1b1;
}

.gray-bg {
  background-color: #323644;
}

.blue {
  color: #1d90f5;
}

.fullscreen {
  height: calc(100vh - 93px);
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.auth-bg {
  background-image: linear-gradient(
      70deg,
      #272a37,
      #272a37,
      rgb(39, 42, 55, 0.9),
      rgba(0, 0, 0, 0)
    ),
    url("./img/auth-bg.jpg");
  background-size: cover;
}
